@import "./fonts.css";
@import "./colors.css";

.owl-carousel {
    position: relative;
}

.owl-carousel .item {
    background-color: var(--primary-bg-color);
    background-size: cover;
    background-position: center left;
    color: #fff;

    font-family: 'hanleysans';
    font-size: 2.6em;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;

    height: 600px;
    padding: 5rem;
    &.item-1 {
        background-image: url('/images/computer-google.jpeg');
    }
    &.item-2 {
        background-image: url('/images/coffee-cup.jpeg');
    }
    &.item-3 {
        background-image: url('/images/camera.jpg');
    }
}

.owl-nav {
    position: absolute;
    top: 40%;
    width: 100%;
}

.owl-prev, .owl-next {
    background-color: #333;
    color: #fff;
    
    padding: 20px;
}

.owl-prev {
    position: absolute;
    left: 0;
    top: 50%;
}
.owl-next {
    position: absolute;
    right: 0;
    top: 50%;
}

.owl-dots {
    display: flex;
    justify-content: space-around;

    position: absolute;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);
    width: 100px;
    margin: 0 auto;
}
.owl-dot {
    background-color: gray;
    border-radius: 99px;
    border: 3px solid #FFF;

    height: 20px;
    width: 20px;
    &.active {
        background-color: #fdb833;
        border-color: #fff;
    }
}