<!doctype html>
<html lang="{{ $.Site.Language.Lang }}">
{{ partial "head" . }}
<body>
{{ partial "header" . }}

<div class="owl-carousel">
  <div class="item item-1"> 
      <h3>Make your business known</h3> 
  </div>
  <div class="item item-2"> 
      <h3>Make them remember who you are</h3> 
  </div>
  <div class="item item-3"> 
      <h3>Show off your work</h3> 
  </div>
</div>

<div class="services-section">
    <ul class="service-nav">
        <li><a>Branding</a></li>
        <li><a>Web Presence</a></li>
        <li><a>Photography</a></li>
    </ul>

    <div class="row">
        <div class="panel">
            <div class="icon-container">
                <i class="far fa-hand-rock fa-3x"></i>
            </div>
            <h3>Fist Bump</h3>
            <ul>
                <li>Landing Page</li>
                <li>4-5 Section Layout</li>
                <li>Contact Form</li>
                <li>SEO</li>
            </ul>
        </div>
        <div class="panel">
            <div class="icon-container">
                <i class="far fa-hand-rock fa-3x"></i>
            </div>
            <h3>Hangout</h3>
            <ul>
                <li>Landing Page</li>
                <li>4-5 Section Layout</li>
                <li>Contact Form</li>
                <li>SEO</li>
            </ul>
        </div>
        <div class="panel">
            <div class="icon-container">
                <i class="far fa-hand-rock fa-3x"></i>
            </div>
            <h3>Block Party</h3>
            <ul>
                <li>Landing Page</li>
                <li>4-5 Section Layout</li>
                <li>Contact Form</li>
                <li>SEO</li>
            </ul>
        </div>
    </div>
</div>

{{ partial "footer" . }}
</body>
</html>
