<!doctype html>
<html lang="{{ $.Site.Language.Lang }}">
{{ partial "head" . }}

<body>
  {{ partial "header" . }}

  <div class="owl-carousel">
    <div class="item item-1">
      <h3>Make your business known</h3>
    </div>
    <div class="item item-2">
      <h3>Make them remember who you are</h3>
    </div>
    <div class="item item-3">
      <h3>Show off your work</h3>
    </div>
  </div>

  <section class="section services-section">
    <div class="slanted">
      <img src="/images/svg2.svg" alt="">
      <h1 id="brand-header" class="service-header">Branding</h1>
      <h1 id="web-header" class="service-header">Web Presence</h1>
      <h1 id="photo-header" class="service-header">Photography</h1>
    </div>
    <ul class="service-nav">
      <li>
        <button id="brand" class="active">Brand</button>
      </li>
      <li>
        <button id="web">Web</button>
      </li>
      <li>
        <button id="photo">Photo</button>
      </li>
    </ul>
    <div id="brand-info" class="service-info">
      <h2>Logos + Graphics</h2>
      <p>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Labore nostrum laudantium tempore impedit fugiat minima et vitae
        illo ab provident.
      </p>
    </div>
    <div id="web-info" class="service-info">
      <h2>Web Sites + SEO</h2>
      <p>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Labore nostrum laudantium tempore impedit fugiat minima et vitae
        illo ab provident.
      </p>
    </div>
    <div id="photo-info" class="service-info">
      <h2>Profiles + Product Shots</h2>
      <p>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Labore nostrum laudantium tempore impedit fugiat minima et vitae
        illo ab provident.
      </p>
    </div>
    </div>
  </section>

  <section class="section team-section">
    <div class="row">
      <div class="bio">
        <img src="http://via.placeholder.com/300x300" alt="">
        <h3 class="name">Sarah Pearson</h3>
        <h4 class="job">Founder/Photographer/Graphic Designer</h4>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio, eveniet.</p>
      </div>
      <div class="bio">
        <img src="http://via.placeholder.com/300x300" alt="">
        <h3 class="name">Chris Eady</h3>
        <h4 class="job">Web Designer/Developer</h4>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio, eveniet.</p>
      </div>
    </div>
  </section>

  <section class="section contact-section">
    <h3>Contact Us</h3>
    <div class="row">
      <div class="col">
        <div class="icon-container">
          <i class="fal fa-phone-volume fa-2x"></i>
        </div>
      </div>
      <div class="col">
        <form role="form" id="contact-form" method="post">
          <div class="card-body">
            <div class="row">
              <div class="col-md-6">
                <div class="form-group label-floating">
                  <label class="control-label">First name</label>
                  <input type="text" name="name" class="form-control" placeholder="First Name">
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group label-floating">
                  <label class="control-label">Last name</label>
                  <input type="text" name="name" class="form-control" placeholder="Last Name">
                </div>
              </div>
            </div>
            <div class="form-group label-floating">
              <label class="control-label">Email address</label>
              <input type="email" name="email" class="form-control" placeholder="Email">
            </div>
            <div class="form-group label-floating">
              <label class="control-label">Your message</label>
              <textarea name="message" class="form-control" id="message" rows="6" placeholder="Message"></textarea>
            </div>

            <div class="row">
              <div class="col-md-6">
                <button type="submit" class="btn btn-primary pull-right">Send Message
                </button>
              </div>
            </div>
          </div>
        </form>
      </div>

    </div>
  </section>

  {{ partial "footer" . }}
</body>

</html>